<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 text-success">
                Créer par <strong>Amine L'ch</strong> &copy; 2021
            </div>
        </div>
    </div>
</footer>
</body>
</html>
