<footer class="fixed-bottom mb-1">
    <div class="container" style="padding:10px 5px;">
        <div class="row text-center">
            <div class="col-md-12">
                Créer par <strong>Amine L'ch</strong> &copy; 2021
            </div>
        </div>
    </div>
</footer>
</body>
</html>
