<footer class="fixed-bottom mb-4">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 text-muted">
                Créer par <strong>Amine L'ch</strong> &copy; 2021
            </div>
        </div>
    </div>
</footer>
</body>
</html>
