<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="{{ path('home') }}" class="navbar-brand">AgenceImmo</a>
   <div class="collapse navbar-collapse">
       <ul class="navbar-nav mr-auto">
           <li class="nav-item {% if current_menu is defined and current_menu=='property' %}active{% endif %}">
               <a class="nav-link" href="{{ path('property_index') }}">Acheter</a>
           </li>
           {% if app.user %}
               <ul class="navbar-nav">
                   <li class="nav-item">
                       <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                   </li>
               </ul>
           {% endif %}
       </ul>
   </div>

</nav>
