<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
{#    {% set current_menu = current_menu ? current_menu : '' %}#}

    {% if current_menu is not defined %}
        {% set current_menu = 'property' %}
    {% endif %}

    {% include 'partials/nav.html.twig' with {'current_menu': current_menu} %}
    <div class="container my-4">
        {% block body %}{% endblock %}
    </div>

{{ include('partials/footer.html.twig') }}